
<div class="small-block-grid-3"> 
    <li><%= image_tag("banc_public00.jpg", class:"th") %></li>
    <li><%= image_tag("banc_public01.jpg", class:"th") %></li> 
    <li><%= image_tag("banc_public02.jpg", class:"th") %></li> 
</ul>
