<div  class="row">



    
    <div class="small-2 large-4 columns">
    
    </div>



    <div class="small-4 large-4 columns">
        <h1>Bienvenue sur <br>Bank public</h1>
            <p>Nous sommes un site sur lequel vous pourrez inclure les commentaires sur votre banc et trouvez les bancs à votre proximité</p>
    </div>



    <div class="small-6 large-4 columns">
        <%= image_tag("banc_public03.jpg", class:"th") %>
    </div>




</div>
