
<div id="map">
	<script>
		var map = L.map('map')
		var bounds = <%= @bounds %>
		padded = L.latLngBounds( bounds ).pad(0.042)

		map.fitBounds(padded)

		marker = L.marker(bounds[1]).addTo(map)

		L.tileLayer('http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
    				attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> ',
   			 		maxZoom: 18
			}).addTo(map);

	</script>



</div>